*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
/*   .paraizquierda{
    margin-left: 50%;
  }
 */
.icono{
    width: 75px;

height: 75px;
}

.carousel-image {
    height: 350px;
  } 



  .paraizquierda{
    margin-left: 50%;
  }


  .tamaño{
    width: 100%;
  }

  .espacio{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
    .secciones-accion:hover{
       border-color: rgb(110, 226, 42) !important;
    }
.footer-color{
    background-color: rgba(0, 0, 0, 0.2);
  
    
}

.head-color{

}


.container2 {
    display: flex;
    justify-content: space-between;
width: 100%;
background-color: green;
height: 110px;
margin: 2%;
margin-left: 0;
color:rgb(110, 226, 42);
text-shadow: 2px 2px black;
white-space: pre;     
}


.container2:hover{
display: flex;
    justify-content: space-between;
width: 100%;
background-color:rgb(68, 143, 25) !important;
height: 110px;
margin: 2%;
margin-left: 0;
color:rgb(110, 226, 42);
text-shadow: 2px 2px black;
white-space: pre;    



}
.container2 a{
font-size: 65px;
text-decoration: none;
color:  rgb(110, 226, 42) ;
font-weight: bolder;


}

.container2 a:hover{
font-size: 65px;
text-decoration: none;
color:  green ;
font-weight: bolder;

}
.container2  h4{
font-size: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
display: flex;
justify-content: center;
align-items: center;
}
.titulo{
    font-size: 18px;
    font-weight: bolder;
    padding-top: 10px;  
}